<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <base href="/" />
  <title>Knockout!</title>
  <meta name="description" content="A welcoming gaming and lifestyle community!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:dnt" content="on">


  <link rel="manifest" href="/static/manifest.json">


  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:type" content="<%= type %>" />
  <meta property="og:url" content="<%= url %>" />
  <meta property="og:image" content="<%= image %>" />
  <meta name="date" content="<%= date %>">
  <% if (twitterCard) { %>
  <meta name="twitter:card" content="summary_large_image">
  <% } %>
  <% if (author) { %>
  <meta property="og:article:author" content="<%= author %>" />
  <% } %>
  <% if (schema) { %>
  <script type="application/ld+json">
    <%- JSON.stringify(schema) %>
  </script>
  <% } %>
  <% if (fediverseUserLink) { %>
  <link href="<%= fediverseUserLink %>" rel="me" />
  <% } %>

  <script defer src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/basestyle.css" />
  <link rel="stylesheet" href="/static/css/fontawesome.css" />
  <link rel="stylesheet" href="/static/css/solid.css" />
  <link rel="stylesheet" href="/static/css/brands.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="<%= icon %>" type="image/x-icon">
</head>

<body>
  <div id="app"></div>
  <noscript>
    <p style="text-align: center;">Sorry, this site requires Javascript, but if that isn't your thing you might want to
      try the <a href="http://lite.knockout.chat/">Lite</a> version?</p>
  </noscript>
</body>

</html>